<div class="container">
  <div class="row">
    <app-modal
      #modal
      [newTransfer]="newTransfer"
      (newTransferAccepted)="onNewTransferAccepted()"
    ></app-modal>
    <app-transfer
      #transferCmp
      [balance]="balance"
      [balanceText]="balanceText"
      (newTransferEvent)="onNewTransfer($event)"
      class="app-transfer"
    ></app-transfer>
    <app-transfer-catalog
      [transfers]="transfersInView"
      [dateSortChar]="dateSortChar"
      [beneficiarySortChar]="beneficiarySortChar"
      [amountSortChar]="amountSortChar"
      (filterChanged)="onFilterChanged($event)"
      (dateSortPressed)="onDateSortPressed()"
      (beneficiarySortPressed)="onBeneficiarySortPressed()"
      (amountSortPressed)="onAmountSortPressed()"
      class="app-transfer-catalog"
    ></app-transfer-catalog>
  </div>
</div>
